In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"D:\AI ML\Resorses csv Files\boston.csv")

In [3]:
dataset.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [4]:
dataset.shape

(506, 15)

In [5]:
input_data = dataset.iloc[:, :-1]
output_data = dataset["medv"]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.25)

In [8]:
x_train

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
244,245,0.20608,22.0,5.86,0,0.4310,5.593,76.5,7.9549,7,330,19.1,372.49,12.50
9,10,0.17004,12.5,7.87,0,0.5240,6.004,85.9,6.5921,5,311,15.2,386.71,17.10
359,360,4.26131,0.0,18.10,0,0.7700,6.112,81.3,2.5091,24,666,20.2,390.74,12.67
215,216,0.19802,0.0,10.59,0,0.4890,6.182,42.4,3.9454,4,277,18.6,393.63,9.47
46,47,0.18836,0.0,6.91,0,0.4480,5.786,33.3,5.1004,3,233,17.9,396.90,14.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282,0.03705,20.0,3.33,0,0.4429,6.968,37.2,5.2447,5,216,14.9,392.23,4.59
495,496,0.17899,0.0,9.69,0,0.5850,5.670,28.8,2.7986,6,391,19.2,393.29,17.60
398,399,38.35180,0.0,18.10,0,0.6930,5.453,100.0,1.4896,24,666,20.2,396.90,30.59
294,295,0.08199,0.0,13.92,0,0.4370,6.009,42.3,5.5027,4,289,16.0,396.90,10.40
419,420,11.81230,0.0,18.10,0,0.7180,6.824,76.5,1.7940,24,666,20.2,48.45,22.74

In [9]:
x_test

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
45,46,0.17142,0.0,6.91,0,0.448,5.682,33.8,5.1004,3,233,17.9,396.90,10.21
235,236,0.33045,0.0,6.20,0,0.507,6.086,61.5,3.6519,8,307,17.4,376.75,10.88
396,397,5.87205,0.0,18.10,0,0.693,6.405,96.0,1.6768,24,666,20.2,396.90,19.37
13,14,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26
96,97,0.11504,0.0,2.89,0,0.445,6.163,69.6,3.4952,2,276,18.0,391.83,11.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,271,0.29916,20.0,6.96,0,0.464,5.856,42.1,4.4290,3,223,18.6,388.65,13.00
42,43,0.14150,0.0,6.91,0,0.448,6.169,6.6,5.7209,3,233,17.9,383.37,5.81
470,471,4.34879,0.0,18.10,0,0.580,6.167,84.0,3.0334,24,666,20.2,396.90,16.29
36,37,0.09744,0.0,5.96,0,0.499,5.841,61.4,3.3779,5,279,19.2,377.56,11.41
295,296,0.12932,0.0,13.92,0,0.437,6.678,31.1,5.9604,4,289,16.0,396.90,6.27

In [10]:
y_train

244    17.6
9      18.9
359    22.6
215    25.0
46     20.0
       ...
281    35.4
495    23.1
398     5.0
294    21.7
419     8.4
Name: medv, Length: 379, dtype: float64

In [11]:
y_test

45     19.3
235    24.0
396    12.5
13     20.4
96     21.4
       ...
270    21.1
42     25.3
470    19.9
36     20.0
295    28.6
Name: medv, Length: 127, dtype: float64

In [12]:
x_train.shape

(379, 14)

In [13]:
x_test.shape

(127, 14)

In [14]:
y_train.shape

(379,)

In [15]:
y_test.shape

(127,)